body {
	margin: 10px 10%;
	padding: 5px;
	max-width: 35em;
	font-family: Arial, sans-serif;
	font-size: 18px;
	line-height: 1.4;
}

@media screen and (max-width:450px) {
	body {
		margin: 15px 10px;
		font-size: 16px;
		line-height: 1.2;
	}
}

form {
	margin: 5px;
	padding: 5px;
	text-align: center;
	min-height: 10em;
	border: 1px dotted black;
	border-radius: 10px;
	background-color: #f0f0f0;
}

h1, h2, h3 {
	margin: 0.3em auto 0.5em;
	padding: 0.3em;
}

img {
	margin: 5px;
	vertical-align: middle;
	border-radius: 5px;
}

div {
	margin: 5px;
	padding: 5px;
	text-align: center;
}

output {
	display: inline-block;
	min-width: 3em;
	min-height: 1.4em;
	margin: 5px 7px;
	padding: 5px;
	font-size: 90%;
	background-color: #e0ffff;
	text-align: center;
	vertical-align: middle;
}

button {
	margin: 10px 20px;
	padding: 10px;
	min-width: 4em;
	min-height: 2.5em;
	border: 2px outset #cccccc;
	border-radius: 10px;
	font-family: inherit;
	font-size: 100%;
	line-height: 1.2;
	background-color: #e9e9ed;
}

button:hover {
	background-color: #d0d0d0;
	cursor: pointer;
}

button:active {
	border-style: inset;
}

input {
	margin: 10px;
	padding: 2px 5px;
	width: 6em;
	border: 2px inset #cccccc; 
	font-family: monospace;
	font-size: 90%;
}

input:focus, button:focus, textarea:focus {
	outline: 2px solid #0060df;
}

input[type="checkbox"], input[type="radio"] {
	width: 1.1em;
	height: 1.1em;
	vertical-align: middle;
	cursor: pointer;
}

textarea {
	margin: 10px;
	padding: 2px 5px;
	min-width: 5em;
	min-height: 4em;
	max-width: 95%;
	max-height: 25em;
	width: 15em;
	height: 15em;
	border: 2px inset #cccccc;
	border-radius: 3px;
	font-size: 90%;
	vertical-align: top;
}

label {
	margin: 5px;
	padding: 5px;
	cursor: pointer;
}

canvas {
	margin: 5px;
	border: 1px dotted black;
}

span {
	margin: 5px;
	padding: 5px;
}

input:disabled, button:disabled, textarea:disabled {
	color: GrayText;
	background-color: #f0f0f0;
	cursor: inherit;
}

button:disabled {
	border: 2px outset #cccccc;
}