:root {
	--font-color: #333;
	--border-color: #333;
	--link-color: #921;
	--body-color: #f5f4e5;
	--js-header-color: #8fbc8f;
	--border-style: 1px dotted var(--border-color);
	--body-max-width: 500px;
	--obj-max-width: 320px;
}

body {
	margin: 0;
	padding: 5px;
	font-family: sans-serif;
	line-height: 2;
	color: var(--font-color);
	background-color: var(--body-color);
}

a {
	text-decoration: none;
	color: var(--link-color);
}

.page-header {		/* --- TABLE --- */
	position: fixed;
	top: 2px;
	left: 8px;
	width: 94%;
	max-width: var(--body-max-width);
	padding: 2px;
	border-spacing: 0;
	border-radius: 5px;
	text-align: center;
	background-color: var(--js-header-color);
}

.btn {			/* --- TD --- */
	overflow: hidden;
	margin: 0 2px;
	border: 1px solid var(--border-color);
	border-radius: 5px;
	cursor: pointer;
}

.btn__scroll {		/* --- TD --- */
	width: 35px;
	padding: 2px 4px;
	background: -webkit-linear-gradient(top, #d0ecf4 0%, #5bc9e1 50%, #d0ecf4 100%);
	background: -moz-linear-gradient(top, #d0ecf4 0%, #5bc9e1 50%, #d0ecf4 100%);
	background: -ms-linear-gradient(top, #d0ecf4 0%, #5bc9e1 50%, #d0ecf4 100%);
	background: -o-linear-gradient(top, #d0ecf4 0%, #5bc9e1 50%, #d0ecf4 100%);
}

.btn__exit-test {	/* --- TD --- */
	width: 30px;
	padding: 2px;
	font-weight: bold;
	background-color: #e2dfe0;
}

.btn__next-quest {	/* --- TD --- */
	width: 60px;
	padding: 2px;
	background-color: #d0ecf4;
}

.page-title {		/* --- TD --- */
	font-size: 1.2em;
}

select {
	min-width: 120px;
	padding: 2px 5px;
	border: 2px outset var(--border-color);
	border-radius: 5px;
	font-size: 1em;
	background: -webkit-linear-gradient(top, #fff 0%, #b0c4de 50%, #fff 100%);
	background: -moz-linear-gradient(top, #fff 0%, #b0c4de 50%, #fff 100%);
	background: -ms-linear-gradient(top, #fff 0%, #b0c4de 50%, #fff 100%);
	background: -o-linear-gradient(top, #fff 0%, #b0c4de 50%, #fff 100%);
}

.content {	/* --- TABLE --- */
	width: 96%;
	max-width: var(--body-max-width);
	margin: 42px 0 20px 6px;
	border-spacing: 0;
	background-color: var(--body-color);
}

.content__without-header {	/* --- TABLE --- */
	margin-top: 2px;
}

.content--border-around {
	border: var(--border-style);
}