.aRow {
    display: table-row;
}
.aCell, .aCellTest {
    display: table-cell;
    padding: 5px 10px;
    border: 1px dotted var(--border-color);
}
.aCellTest {
    background-color: var(--rose-color);
}