.image-container {		/* ---------- TD --------- */
	text-align: center;
	max-width: var(--obj-max-width);
}

.image-container img {
	display: block;
	max-width: 100%;
	margin: 10px auto;
	border: var(--border-style);
}
