:root {
	--font-color: #333333;
	--border-color: #696969;
	--link-color: #992211;

	--body-color: #f5f4e5;
	--header-color: #8fbc8f;
	--table-color: #ffffff;

	--blue-color: #f8f8ff;
	--rose-color: #fffff0;
	--light-color: #f0e68c;
	--gray-color: #aaaaaa;
}

/*------------------------------------------------*/
body {
	padding: 5px;
	margin: 0;
	font-family: sans-serif;
	font-size: 1em;
	line-height: 2;
	color: var(--font-color);
	background-color: var(--body-color);
}

a {
	display: block;
	text-decoration: none;
	color: var(--link-color);
}
a.aSpecial {
	text-align: center;
	font-weight: bold;
}

/*------------------------------------------------*/
.aHeader {
	position: fixed;
	top: 2px;
	left: 7px;
	display: table;
	padding: 2px;
	width: 94%;
	max-width: 500px;
	font-size: 1.2em;
	text-align: center;
	border-radius: 5px;
	background-color: var(--header-color);
}

.aTable, .aTable-Header {
	display: table;
	width: 96%;
	max-width: 500px;
	margin: 2px 0 10px 6px;
	background-color: var(--table-color);
}
.aTable-Header {
	margin: 40px 0 10px 6px;
}

/*------------------------------------------------*/
.aRow {
	display: table-row;
}

.aCell, .aCell-Blue, .aCell-Gray, .aCell-Rose, .aCell-Light, .aCell50, .aCell50-Blue, .aCell50-Gray, .aCell50-Rose, .aCell50-Light {
	display: table-cell;
	padding: 5px 10px;
	border: 1px dotted var(--border-color);
}
.aCell50, .aCell50-Blue, .aCell50-Gray, .aCell50-Rose, .aCell50-Light {
	width: 50%;
}
.aCell-Blue, .aCell50-Blue {
	background-color: var(--blue-color);
}
.aCell-Gray, .aCell50-Gray {
	background-color: var(--gray-color);
}
.aCell-Rose, .aCell50-Rose {
	background-color: var(--rose-color);
}
.aCell-Light, .aCell50-Light {
	background-color: var(--light-color);
}

/*------------------------------------------------*/
.aImg {
	display: block;
	max-width: 320px;
	margin: 0 auto;
	padding: 10px;
	background-color: var(--body-color);
}