:root {
	--font-color: #333333;
	--border-color: #696969;
	--link-color: #992211;

	--body-color: #f5f4e5;
	--header-color: #8fbc8f;
	--table-color: #ffffff;

	--color-1: #f8f8ff;
	--color-2: #fffff0;
	--color-3: #f0e68c;
	--color-4: #eeeeee;
}

/*------------------------------------------------*/
body {
	padding: 5px;
	margin: 0;
	font-family: sans-serif;
	font-size: 1em;
	line-height: 2;
	color: var(--font-color);
	background-color: var(--body-color);
}

a {
	display: block;
	text-decoration: none;
	color: var(--link-color);
}
a.aSpecial {
	text-align: center;
	font-weight: bold;
}

/*------------------------------------------------*/
.aHeader {
	position: fixed;
	top: 2px;
	left: 8px;
	display: table;
	padding: 2px;
	width: 94%;
	max-width: 500px;
	max-height: 32px;
	font-size: 1.2em;
	text-align: center;
	border-radius: 5px;
	background-color: var(--header-color);
}

.aTable, .aTable-Header-BodyColor {
	display: table;
	width: 96%;
	max-width: 500px;
	margin: 2px 0 15px 6px;
	background-color: var(--table-color);
}
.aTable-Header-BodyColor {
	background-color: var(--body-color);
}

/* порожній div під Header, -1 звичайний, -2 для 3d кнопок*/
.aHiddenHeader-1 {
	height: 40px;
}
.aHiddenHeader-2 {
	height: 45px;
}

/*------------------------------------------------*/
.aRow {
	display: table-row;
}

.aCell, .aCell-1, .aCell-2, .aCell-3, .aCell-4, .aCell50, .aCell50-1, .aCell50-2, .aCell50-3, .aCell50-4 {
	display: table-cell;
	padding: 5px 10px;
	border: 1px dotted var(--border-color);
}
.aCell50, .aCell50-1, .aCell50-2, .aCell50-3, .aCell50-4 {
	width: 50%;
}
.aCell-1, .aCell50-1 {
	background-color: var(--color-1);
}
.aCell-2, .aCell50-2 {
	background-color: var(--color-2);
}
.aCell-3, .aCell50-3 {
	background-color: var(--color-3);
}
.aCell-4, .aCell50-4 {
	background-color: var(--color-4);
}

/*------------------------------------------------*/
.aImg {
	display: block;
	max-width: 320px;
	margin: 7px auto 15px;
	border: 1px dotted var(--border-color);
}

/*------------------------------------------------*/
.aButton {
	overflow: hidden;
	display: table-cell;
	width: 35px;
	margin: 0 2px;
	padding: 2px 4px;
	font-size: 1em;
	background: -webkit-linear-gradient(top, #D0ECF4 0%, #5BC9E1 50%, #D0ECF4 100%);
	background: -moz-linear-gradient(top, #D0ECF4 0%, #5BC9E1 50%, #D0ECF4 100%);
	background: -ms-linear-gradient(top, #D0ECF4 0%, #5BC9E1 50%, #D0ECF4 100%);
	background: -o-linear-gradient(top, #D0ECF4 0%, #5BC9E1 50%, #D0ECF4 100%);
	border-radius: 5px;
	border: 1px solid var(--border-color);
	cursor: pointer;
}

.aSelect {
	display: table-cell;
	min-width: 120px;
	padding: 2px;
	font-size: 1em;
	background: -webkit-linear-gradient(top, #ffffff 0%, #b0c4de 50%, #ffffff 100%);
	background: -moz-linear-gradient(top, #ffffff 0%, #b0c4de 50%, #ffffff 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #b0c4de 50%, #ffffff 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #b0c4de 50%, #ffffff 100%);
	border-radius: 5px;
	border: 2px outset var(--border-color);
}