body {
	margin: 0;
	padding: 5px;
	font-family: sans-serif;
	line-height: 1.3;
	color: #333333;
	background-color: #f5f4e5;
}

.menu-content{
	margin: 5px;
	padding: 2px;
	max-width: 70em;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content:space-around;
}

@media screen and (min-width:30em) {
	.menu-content{
		margin: 5px 10%;
	}
}

.menu-header {
	width: 100%;
	padding: 5px;
	margin: 10px 2px;
	border-radius: 5px;
	font-size: 120%;
	text-align: center;
	background-color: #8fbc8f;
}

.menu-item {
	display: block;
	min-width: 3em;
	padding: 10px 10px;
	margin: 7px 10px;
	text-align: center;
	color: #992211;
	text-decoration: none;
	border: 1px dotted #333333;
	border-radius: 5px;
}

.menu-test, 
.menu-project {
	font-family: Consolas, monospace;
	font-size: 90%;
}

.menu-sub {
	font-family: Consolas, monospace;
	font-size: 70%;
}

.menu--color-1 {
	background-color: #ffffff;
}

.menu--color-2 {
	background-color: #f8f8ff;
}

.menu--color-3 {
	background-color: #ffede9;
}

.menu--color-4 {
	background-color: #eeeeee;
}