.menu-content{
	margin: 5px;
	padding: 2px;
	max-width: 70em;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

@media screen and (min-width:600px) {
	.menu-content{
		margin: 5px 10%;
	}
}

.menu-header {
	width: 100%;
	padding: 5px;
	margin: 10px 2px;
	border-radius: 5px;
	font-size: 120%;
	text-align: center;
	background-color: var(--js-header-color);
}

.menu-item {
	display: block;
	min-width: 3em;
	padding: 10px 10px;
	margin: 7px 10px;
	line-height: 1.3;
	text-align: center;
	color: var(--link-color);
	text-decoration: none;
	border: var(--border-style);
	border-radius: 5px;
}

.menu-test, 
.menu-project {
	font-family: Consolas, monospace;
	font-size: 90%;
}

.menu--color-1 {
	background-color: #fff;
}

.menu--color-2 {
	background-color: #f8f8ff;
}

.menu--color-3 {
	background-color: #ffede9;
}

.menu--color-4 {
	background-color: #eee;
}