html {
	background-color: #ffffff;
}

body {
	margin: 20px 10%;
	padding: 7px;
	max-width: 35em;
	min-height: 10em;
	height: min-content; 
	font: normal 18px/1.4 "Arial", sans-serif;
	text-align: center;
	background-color: #f0f0f0;
	border: 1px dotted #000000;
	border-radius: 10px;
}

@media screen and (max-width:450px) {
	body {
		margin: 20px 10px;
		font-size: 16px;
		line-height: 1.2;
	}
}

img {
	margin: 5px;
	vertical-align: middle;
	border-radius: 5px;
}

h1, h2, h3 {
	margin: 0.3em auto 0.5em;
	padding: 0.3em;
}

output {
	display: inline-block;
	margin: 5px 7px;
	padding: 5px;
	min-width: 3em;
	min-height: 1.4em;
	vertical-align: middle;
	font-size: 0.9em;
	text-align: center;
	background-color: #e0ffff;
}

button {
	margin: 10px 20px;
	padding: 10px;
	min-width: 4em;
	min-height: 2.5em;
	font: 1em/1.2 "Arial", sans-serif;
	background-color: #e9e9ed;
	border: 2px outset #ccccc;
	border-radius: 10px;
}

button:hover {
	background-color: #d0d0d0;
	cursor: pointer;
}

button:active {
	border-style:inset;
}

input{
	margin: 10px;
	padding: 2px 5px;
	width: 6em;
	font: 0.9em "Consolas", monospace;
	border: 2px inset #cccccc;
}

input[type="checkbox"], input[type="radio"] {
	width: 1.1em;
	height: 1.1em;
	vertical-align: middle;
	cursor: pointer;
}

textarea {
	margin: 10px;
	padding: 2px 5px;
	min-width: 5em;
	min-height: 4em;
	max-width: 95%;
	max-height: 25em;
	width: 15em;
	height: 15em;
	font: 0.9em "Consolas", monospace;
	vertical-align: top;
	border: 2px inset #cccccc;
	border-radius: 3px;
}

label {
	margin: 5px;
	padding: 5px;
	cursor: pointer;
}

div {
	margin: 5px;
	padding: 5px;
	text-align: center;
}

input:focus, button:focus, textarea:focus {
	outline: 2px solid #0060df;
}

input:disabled, textarea:disabled {
	color: #6d6d6d;
	background-color: #f0f0f0;
	cursor: inherit;
}

button:disabled {
	color: #6d6d6d;
	background-color: #f0f0f0;
	cursor: inherit;
	border: 2px outset #cccccc;
}