body {
	margin: 0;
	padding: 5px;
	text-align: center;
	font-family: sans-serif;
	color: #333333;
	background-color: #f5f4e5;
}

.task-content {
	margin: 5px;
	padding: 2px;
	max-width: 30em;
	line-height: 1.3;
	background-color: #ffffff;
}

@media screen and (min-width:30em) {
	.task-content {
		margin: 5px 10%;
	}
}

.task-header {
	margin: 0;
	padding: 2px;
	display: flex;
	border-radius: 5px;
	line-height: 2;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background-color: #8fbc8f;
}

.task-button {
	overflow: hidden;
	margin: 1px;
	padding: 2px 4px;
	width: 35px;
	border: 1px solid #333333;
	border-radius: 5px;
	background: -webkit-linear-gradient(top, #d0ecf4 0%, #5bc9e1 50%, #d0ecf4 100%);
	background: -moz-linear-gradient(top, #d0ecf4 0%, #5bc9e1 50%, #d0ecf4 100%);
	background: -ms-linear-gradient(top, #d0ecf4 0%, #5bc9e1 50%, #d0ecf4 100%);
	background: -o-linear-gradient(top, #d0ecf4 0%, #5bc9e1 50%, #d0ecf4 100%);
	cursor: pointer;
}

select {
	min-width: 120px;
	padding: 2px 5px;
	font-size: 1em;
	border: 2px outset #333333;
	border-radius: 5px;
	background: -webkit-linear-gradient(top, #fff 0%, #b0c4de 50%, #fff 100%);
	background: -moz-linear-gradient(top, #fff 0%, #b0c4de 50%, #fff 100%);
	background: -ms-linear-gradient(top, #fff 0%, #b0c4de 50%, #fff 100%);
	background: -o-linear-gradient(top, #fff 0%, #b0c4de 50%, #fff 100%);
}

.task-title {
	padding: 20px 0 10px 0;
}

.task-number {
	padding-right: 7px;
	font-weight: bold;
}

.task-name {}

.task-container {}

.task-container video {
	max-width: 100%;
	border-radius: 5px;
	border: 1px dotted #333333;
}

.task-comment {
	padding: 10px;
	font-size: 80%;
}