body {
	line-height: 1.5;
}

/*---------------------------------*/
.aButtonExit, .aButtonNext {
	overflow: hidden;
	display: table-cell;
	margin: 0 2px;
	padding: 2px;
	border-radius: 5px;
	border: 1px solid var(--border-color);
	cursor: pointer;
}
.aButtonNext {
	width: 60px;
	background-color: #d0ecf4;
}

.aButtonExit {
	width: 30px;
	background-color: #e2dfe0;
	font-weight: bold;
}

.aQuestNum {
	margin: 0 10px 0 5px;
	font-size: 1.2em;
	font-weight: bold;
}

.aQuestCount {
	margin-left: 5px;
	font-size: 0.8em;
}

/*-----------------------------------*/
.aQuest {
	min-height: 48px;
	padding: 7px 5px 7px 12px;
	border: 1px inset var(--border-color);
	background-color: var(--blue-color);
}

.aCorrectCount {
  padding: 2px 10px 2px 0;
	font-size: 0.8em;
	line-height: 1;
	text-align: right;
	border-bottom: 1px dotted var(--border-color);
}

/*--------------------------------*/
.aAnswer {
	padding: 12px 0; 
	border-bottom: 1px dotted var(--border-color);
	cursor: pointer;
}

.aNum {
	margin: 2px;
	padding-left: 5px;
}

.aRadio {
	padding-left: 5px;
}

.aLabel {
	padding-left: 5px;
	cursor: pointer;
}
.aObj {
	margin: 20px 5px 5px 20px;
}
.aQuestImg {
	max-width: 320px;
	border: 1px dotted var(--border-color);
}

/*--------------------------------*/
.aResForm {
	margin: 10px;
	max-width: 500px;
	text-align: center;
}

.aAllPercent {
	margin-bottom: 20px;
}

.aPercent {
	padding-left: 20px;
	font-size: 1.5em;
	font-weight: bold;
}

.aMark {
	width: fit-content;
	min-width: 120px;
	padding: 0 20px;
	margin: auto;
	font-size: 7em;
	font-weight: bold;
	border: 2px outset var(--border-color);
	background-color: var(--blue-color);
}