:root {
	--js-checked-answer-color: #fffff0;
	--js-answer-color: #fff;
	--js-mark-1: #c0c0c0;
	--js-mark-2: #ff69b4;
	--js-mark-4: #ffa07a;
	--js-mark-6: #ffd700;
	--js-mark-8: #7fffd4;
	--js-mark-10: #00ff7f;
	--js-mark-12: #0f0;
}

.sign-quest-num {}

.quest-num {
	margin: 0 10px 0 5px;
	font-weight: bold;
}

.quest-count {
	margin-left: 5px;
	font-size: 0.8em;
}

.test-quest {			/* --- TD --- */
	min-height: 48px;
	padding: 5px 10px 20px 10px;
	border: 1px inset var(--border-color);
	line-height: 1.5;
	background-color: #f8f8ff;
}

.test-correct-count {	/* --- TD --- */
	font-size: 0.8em;
	line-height: 1.5;
	text-align: right;
}

.test-answer {			/* --- TD --- */
	padding: 12px 0;
	border-top: var(--border-style);
	background-color: var(--js-answer-color);
	cursor: pointer;
}

.test-answer-num {			/* входить у test-answer */
	margin: 2px;
	padding-left: 5px;
}

.test-answer input {
	padding-left: 5px;
}

.test-answer label {
	padding-left: 5px;
	cursor: pointer;
}

.test-obj {
	margin: 20px 6px 5px 6px;
}
@media screen and (min-width:600px){.test-obj{margin-left:10%}}

.test-obj img {
	max-width: var(--obj-max-width);
	border: var(--border-style);
}

.test-result {
	max-width: var(--body-max-width);
	margin: 10px 5px;
	text-align: center;
}

.test-result-title {}			/* входить у test-result */

.test-result-percent {			/* входить у test-result */
	padding-left: 20px;
	font-size: 1.5em;
	font-weight: bold;
}

.test-result-mark {				/* входить у test-result */
	width: fit-content;
	min-width: 120px;
	margin: 15px auto;
	padding: 0 10px;
	border: 2px outset var(--border-color);
	font-size: 7em;
	font-weight: bold;
	line-height: 1.5;
	background-color: #fff;
}