.theme {				/* ---------- TD --------- */
	width: 50%;
	padding: 5px 10px;
	border: var(--border-style);
}

.theme__special {		/* ---------- TD --------- */
	text-align: center;
	background-color: #eee;
}

.theme__last-years {		/* ---------- TD --------- */
	text-align: center;
	font-size: 90%;
	font-family: Consolas, monospace;
	padding: 0;
}

.theme__archive {		/* ---------- TD --------- */
	text-align: left;
	font-size: 90%;
	background-color: #eee;
}

.theme__archive a {
	padding-left: 15px;
}

.theme--color-1 {		/* ---------- TD --------- */
	background-color: #fff;
}

.theme--color-2 {		/* ---------- TD --------- */
	background-color: #f8f8ff;
}