/* непарні і парні дні */
.block1 {
	display: table-row;
}

.block2 {
	display: table-row;
	background-color: var(--color-1);
}

/* перший (головний) рядок - в основному він є один */
.day, .grp, .kab, .sub, .tch {
	display: table-cell;
	padding: 4px 8px;
	border-top: dotted 1px var(--border-color);
}

/* другий і більше рядок (якщо кілька груп або класів в одному кабінеті */
.day2, .grp2, .kab2, .sub2, .tch2 {
	display: table-cell;
	padding: 0 8px 4px 8px;
	border-top: none;
}

.day, .day2 {
	min-width: 35px;
	padding-left: 2px;
	text-align: center;
}

.day a, .day2 a {
	color: #8b008b;
}

.grp, .grp2 {
	min-width: 35px;
	text-align: center; 
}

.grp a, .grp2 a {
	color: #992211;
}

.kab, .kab2 {
	min-width: 30px;
	text-align: center;
}

.kab a, .kab2 a {
	color: #008000;
}

.tch, .tch2 {
	overflow: hidden;
	max-width: 130px;
}

.tch a, .tch2 a {
	color: #808000;
}

.sub, .sub2 {
	overflow: hidden;
	max-width: 140px;
}