.video-container {		/* ---------- TD --------- */
	text-align: center;
}

.video-container video {
	display: block;
	width: 100%;
	max-width: var(--obj-max-width);
	margin: 10px auto;
	border: var(--border-style);
}

.video-title {			/* ---------- TD --------- */
	padding: 20px 5px 0 5px;
	line-height: 1;
	text-align: center;
}

.video-number {			/* входить у клітинку video-title */
	padding: 0 7px;
	font-weight: bold;
}

.video-name {}			/* входить у клітинку video-title */

.video-comment {		/* ---------- TD --------- */
	padding: 0 5px 15px 5px;
	line-height: 1.2;
	font-size: 0.8em;
	text-align: center;
}
