		/*  не змінюйте!  */
body {
	margin: 10px 10% 10px 10%;
	max-width: 360px;
	font-size: 18px;
}

		/*  «Стрічка новин»  */
h2 {background-color:#1E90FF;
    text-decoration:underline;

}


		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {}

		/*  «Дата усіх новин»  */
h3 {background-color:#CD853F;
    text-decoration:underline;

}


		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {color:#663399}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text {
	line-height:1.6;
    margin:9px;
	
}


		/*  «Підвал» - найнижчий блок, знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
	background-color:#FFE4B5;
	text-decoration:underline;

	
}

		/*  посилання для перегляду усіх новин: знаходиться у «підвалі» і не працює :)  */
a {
	text-decoration: none;
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.????? {
	font-family:sans-serif;
	
	}

		/*  «Гаряча новина» - можете змінити, якщо хочете  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: Crimson;
	
}