:root {
	--font-color: #333;				/* темно сірий */
	--border-color: #696969;		/* DimGray*/
	--link-color: #921;				/* темно червоний*/
	--special-link-color: #333;		/* темно сірий */

	--body-color: #f5f4e5;			/* блідо блакитний */
	--header-color: #8fbc8f;		/* темно морський */
	--js-table-color: #fff;			/* білий */

	--odd-color: #f8f8ff;			/* примарний білий */
	--even-color: #fffff0;			/* слонова кістка */
	--color-3: #f0e68c;				/* світлий хакі */
	--special-color: #eee;			/* сірий */

	--quest-color: #f8f8ff;			/* примарний білий */

	--border-style: 1px dotted var(--border-color);

	--body-max-width: 500px;
	--obj-max-width: 320px;

	--js-checked-answer-color: #fffff0;
	--js-mark-2-3: #ff69b4;
	--js-mark-4-5: #ffa07a;
	--js-mark-6-7: #ffd700;
	--js-mark-8-9: #7fffd4;
	--js-mark-10-11: #00ff7f;
	--js-mark-12: #0f0;
}

/*---------------------------------------------------------------------------*/
body {
	margin: 0;
	padding: 5px;
	font-family: sans-serif;
	line-height: 2;
	color: var(--font-color);
	background-color: var(--body-color);
}

a {
	text-decoration: none;
	color: var(--link-color);
}

/*---------------------------------------------------------------------------*/
.g-cell--odd-color {
	background-color: var(--odd-color);
}

.g-cell--even-color {
	background-color: var(--even-color);
}

.g-cell--border-bottom {
	border-bottom: var(--border-style);
}

.g-cell__special {
	text-align: center;
	background-color: var(--special-color);
}

.g-cell__special a {
	color: var(--special-link-color);
}

/*---------------------------------------------------------------------------*/
.g-code__tag {
	font-weight: bold;
	color: #008000;
}

.g-code__symbol {
	font-style: italic;
}

.g-code__attribute {
	color: #f00;
}

.g-code__string {
	color: #00f;
}

/*---------------------------------------------------------------------------*/
.header {
	position: fixed;
	top: 2px;
	left: 8px;
	width: 94%;
	max-width: var(--body-max-width);
	padding: 2px;
	border-spacing: 0;
	border-radius: 5px;
	text-align: center;
	background-color: var(--header-color);
}

/*-----------------------------------*/
.header__title {
	font-size: 1.2em;
}

.header__btn {
	overflow: hidden;
	margin: 0 2px;
	border: 1px solid var(--border-color);
	border-radius: 5px;
	cursor: pointer;
}

.header__btn--last-next {
	width: 35px;
	padding: 2px 4px;
	background: -webkit-linear-gradient(top, #D0ECF4 0%, #5BC9E1 50%, #D0ECF4 100%);
	background: -moz-linear-gradient(top, #D0ECF4 0%, #5BC9E1 50%, #D0ECF4 100%);
	background: -ms-linear-gradient(top, #D0ECF4 0%, #5BC9E1 50%, #D0ECF4 100%);
	background: -o-linear-gradient(top, #D0ECF4 0%, #5BC9E1 50%, #D0ECF4 100%);
}

.header__btn--exit-test {
	width: 30px;
	padding: 2px;
	font-weight: bold;
	background-color: #e2dfe0;
}

.header__btn--next-quest {
	width: 60px;
	padding: 2px;
	background-color: #d0ecf4;
}

/*---------------------------------------------------------------------------*/
.title-header {}

/*-----------------------------------*/
.title-header select {
	min-width: 120px;
	padding: 2px;
	border: 2px outset var(--border-color);
	border-radius: 5px;
	background: -webkit-linear-gradient(top, #fff 0%, #b0c4de 50%, #fff 100%);
	background: -moz-linear-gradient(top, #fff 0%, #b0c4de 50%, #fff 100%);
	background: -ms-linear-gradient(top, #fff 0%, #b0c4de 50%, #fff 100%);
	background: -o-linear-gradient(top, #fff 0%, #b0c4de 50%, #fff 100%);
}

.title-header__sign-num {}

.title-header__quest-num {
	margin: 0 10px 0 5px;
	font-weight: bold;
}

.title-header__quest-count {
	margin-left: 5px;
	font-size: 0.8em;
}

/*---------------------------------------------------------------------------*/
.content {
	width: 96%;
	max-width: var(--body-max-width);
	margin: 2px 0 20px 6px;
	border: var(--border-style);
	border-spacing: 0;
	background-color: var(--js-table-color);
}

/*-----------------------------------*/
.content--bkcolor--body-color {
	background-color: var(--body-color);
}

.content--border--none {
	border: none;
}

.content--margin-top {
	margin-top: 42px;
}

/*-----------------------------------*/
.content__index {
	padding: 5px 10px;
	text-align: center;
}

.content__index-grp {
	padding: 5px 10px;
}

.content__index-art {
	padding: 5px 10px 5px 120px;
}

.content__group {
	width: 50%;
	padding: 5px 10px;
	border: var(--border-style);
}

.content__images {
	text-align: center;
}

.content__images img {
	display: block;
	max-width: var(--obj-max-width);
	margin: 10px auto;
	border: var(--border-style);
}

.content__videos {
	text-align: center;
}

.content__videos video {
	display: block;
	max-width: var(--obj-max-width);
	margin: 10px auto;
	border: var(--border-style);
}

.content__test-quest {
	min-height: 48px;
	padding: 5px 10px 20px 10px;
	border: 1px inset var(--border-color);
	line-height: 1.5;
	background-color: var(--quest-color);
}

.content__test-correct-count {
	font-size: 0.8em;
	line-height: 1;
	text-align: right;
}

.content__test-answer {
	padding: 5px;
	border-bottom: var(--border-style);
	cursor: pointer;
}

.content__test-obj {
	margin: 20px 5px 5px 20px;
}

.content__test-obj img {
	max-width: var(--obj-max-width);
	border: var(--border-style);
}

.content__tags {
	padding: 5px 10px 0 10px;
	line-height: 1.5;
}

.content__tags-comment {
	max-width: 300px;
	padding: 0 10px 5px 10px;
	font-size: 0.8em;
	text-align: right;
	line-height: 0.6;
}

/*---------------------------------------------------------------------------*/
.answer-test {
	padding-left: 5px;
}

.answer-test__num {
	margin: 2px;
}

.answer-test input {}

.answer-test label {
	cursor: pointer;
}

/*---------------------------------------------------------------------------*/
.test-result {
	max-width: var(--body-max-width);
	margin: 10px;
	text-align: center;
}

/*-----------------------------------*/
.test-result__sign-percent {
	margin-bottom: 20px;
}

.test-result__percent {
	padding-left: 20px;
	font-size: 1.5em;
	font-weight: bold;
}

.test-result__mark {
	width: fit-content;
	min-width: 120px;
	margin: auto;
	padding: 0 20px;
	border: 2px outset var(--border-color);
	font-size: 7em;
	font-weight: bold;
	background-color: var(--js-table-color);
}

/* непарні і парні дні */
.block1 {}

.block2 {background-color: var(--color-1);}

/* перший (головний) рядок - в основному він є один */
.day, .grp, .kab, .sub, .tch {
	padding: 4px 8px;
	border-top: dotted 1px var(--border-color);
}

/* другий і більше рядок (якщо кілька груп або класів в одному кабінеті */
.day2, .grp2, .kab2, .sub2, .tch2 {
	padding: 0 8px 4px 8px;
	border-top: none;
}

.day, .day2 {
	min-width: 35px;
	padding-left: 2px;
	text-align: center;
}

.day a, .day2 a {
	color: #8b008b;
}

.grp, .grp2 {
	min-width: 35px;
	text-align: center; 
}

.grp a, .grp2 a {
	color: #992211;
}

.kab, .kab2 {
	min-width: 30px;
	text-align: center;
}

.kab a, .kab2 a {
	color: #008000;
}

.tch, .tch2 {
	overflow: hidden;
	max-width: 130px;
}

.tch a, .tch2 a {
	color: #808000;
}

.sub, .sub2 {
	overflow: hidden;
	max-width: 140px;
}