.zap1 {
	border: 2px dotted black;
	border-radius: 15px;
}








/*
1.  font-family: Arial, Verdana, sans-serif;				шрифти  (основний + «запасні» + родинний)
2.  font-size: 14px;             (120%)						розмір  (пікселі / відсотки)
3.  font-weight: bold;           (normal)					насиченість
4.  font-style: italic;          (normal)					стиль  (похилий)
5.  text-decoration: underline;  (none)						підкреслення
6.  color: red;                  (#80fde0)					колір  (назва / номер)

7.  background-color: yellow;    (#b6ff2a)					колір тла  (заливка)
8.  text-align:	center;          (left) (right) (justify)	вирівнювання
9.  line-height: 1.4;										міжрядковий інтервал

10. margin: 10px;                (0 7px 0 5px)   (auto)		відступи  (зверху справа знизу зліва)
11. padding: 5px;                (2px 0 0 15px)				поля      (зверху справа знизу зліва)
12. float: left;                 (none)  (right)			обтікання
13. width: 50%;                  (250px)					ширина


14. border-radius: 15px;									радіус округлення меж
15. border: 3px solid black;								межі (товщина стиль колір)
		15a. border-top:     15б. border-bottom:    15в. border-left:    15г. border-right:
		стилі меж:   solid  dotted  dashed  double  none
*/