body {
	margin: 15px 10px;
	font-size: 18px;
	line-height: 1.4;
}
/*---*/@media screen and (max-width:450px){body{font-size:16px;line-height:1.2}}

.header {
	margin: 5px;
	padding: 5px;
	text-align: center;
	background-color: DeepPink;
	font-size: 50px;
	color:white;
}

.footer {
	margin: 5px;
	padding: 5px;
	text-align: right;
	background-color: CornflowerBlue;
}

.flexbox {
	margin: 5px;
	padding: 5px;
	border: 1px solid blue;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	/* center   space-beetween */
									/*align-items: flex-start;   (flex-end) */
}
.day {
	background-color:LightSkyBlue;
	margin: 5px;
	padding: 5px;
	border-radius: 15px;
	
}
.day-title {
	background-color:HotPink;
	border-radius: 15px;
	font-size: 30px;
	margin: 5px;
	padding: 5px;
	text-align: center;
}