body{padding:5px;line-height:1.4} @media screen and (min-width:450px){body{margin:10px 5%}}
/*---------------------------------------------*/

.header {
	margin: 1px;
	padding: 1px;
	text-align: center;
	background-color: LightCyan;
	font-size: 60%
}

.footer {
	margin: 5px;
	padding: 5px;
	text-align: right;
	background-color: Cornsilk;
	font-size:80%
}

.box {
	margin: 5px;
	padding: 5px;

	display: flex;
	flex-wrap: wrap;				/* nowrap */
	justify-content: space-around;	/* flex-end  center  flex-start  space-beetween */
	align-items: flex-start;		/* flex-end  center  stretch */

}
.item {
	border-radius: 2px solid blue;
	color:FireBrick;
	border: 2px double Lavender;
	padding: 3px;
	display: inline;
	flex-wrap: wrap;
	margin:2px 2px 5px 2px;

}

.pon{
	color: Green;
	border: 2px solid Gold;
	padding: 3px;
}