body{margin:10px 10%;padding:5px;max-width:360px;font-size:18px}@media screen and (max-width:450px){body{margin:10px;font-size:16px}}
/*--=========================================--*/

		/*  Головний заголовок  */
h2 {
	color:red;
	text-decoration:underline;
	text-align:center;
}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {
	border:3px solid red;
	border-radius:15px;
	padding:5px;
	background-color:DeepSkyBlue;
}

		/*  «Дата усіх новин»  */
h3 {
	text-decoration:underline;
	font-size:24px;
}

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {
	border:2px solid red;
	border-radius:15px;
	width:50%;
	text-align:center;
}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text {
	margin:10px;
	border:2px solid green;
	line-height:1.5
}

		/*  «Нижній колонтитул»: знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
	text-decoration:underline;
	
}

		/*  посилання для перегляду усіх новин: знаходиться у «нижньому колонтитулі» і не працює :)  */
a {
	text-decoration: none;
}

		/*  «Гаряча новина» - застосуйте до якої-небудь новини  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: Crimson;
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.hot-news {
	margin:10px;
	border:2px solid green;
	line-height
}

