body{margin:10px 10%;padding:5px;max-width:360px;font-size:18px}@media screen and (max-width:450px){body{margin:10px;font-size:16px}}
/*--=========================================--*/

		/*  Головний заголовок  */
h2 {
	font-size: 30px;
	font-family: sans-serif;
	font-style: italic;
	text-align: center;
	color:LightSeaGreen;
	
	
}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {
	border: 3px solid LightSeaGreen;
	margin: 3px;
	
	
	
	
}

		/*  «Дата усіх новин»  */
h3 {
	font-weight: bold;
	color:DarkCyan;
	font-family: Verdana;
	text-align: center;
	
}

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {
	margin: 7px;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 3px solid DarkCyan;
	
	
	
}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text {
	padding: 5px;
	margin: 7px;
	
	
	
}

		/*  «Нижній колонтитул»: знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
	
	
	
}

		/*  посилання для перегляду усіх новин: знаходиться у «нижньому колонтитулі» і не працює :)  */
a {
	text-decoration: none;
	color:  DarkCyan;
	
}

		/*  «Гаряча новина» - застосуйте до якої-небудь новини  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: DarkCyan;
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.rybriks {
	font-weight: bold;
	font-style: italic;
	
	
	
}

