body {
	margin: 15px 10px;
	font-size: 18px;
	line-height: 1.4;
}
/*---*/@media screen and (max-width:450px){body{font-size:16px;line-height:1.2}}

.header {
	margin: 5px;
	padding: 5px;
	text-align: center;
	background-color: LightCyan;
	font-weight: bold;
}

.footer {
	margin: 5px;
	padding: 5px;
	text-align: right;
	background-color: Cornsilk;
	font-style: italic;
}

.flexbox {
	margin: 5px;
	padding: 5px;
	border: 1px solid blue;
	border-radius: 15px;
	background-color: GreenYellow;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	/* center   space-beetween */
									/*align-items: flex-start;   (flex-end) */
}
.day {
	background-color: MediumSeaGreen;
	border-radius: 15px;
	
}
.d {
	background-color: Green;
	border-radius: 15px;
}