:root {
    --border-color: #696969;
    --header-color: #8fbc8f;
    --font-color: #333333;
    --quest-color: #F8F8FF;
}
body {
    font-family: sans-serif, Arial; 
    font-size: 1em;
    line-height: 1.25;
    color: var(--font-color);
    padding: 5px;
    margin: 0;
}
/* +++++++++++++++++++++++++++++++++++ */
.aHeader {
    text-align: center;
    background-color: var(--header-color);
    border-radius: 5px;
    width: 94%;
    max-width: 500px;
    padding: 5px 2px;
    position: fixed;
    top: 2px;
    left: 7px;
	display: table;
}
.aButtonExit, .aButtonNext {
    border-radius: 5px;
    border: 1px solid var(--border-color);
    margin: 0 2px;
    padding: 2px;
    overflow: hidden;
    display: table-cell;
    cursor: pointer;
}
.aButtonNext {
    width: 40px;
    background-color: #D0ECF4; /* 0%, #5BC9E1 50%, #D0ECF4 100%);*/
}
.aButtonExit {
    width: 20px;
    background-color: #e2dfe0;
    font-weight: 700;/* 0%, #a09b9d 50%, #e2dfe0 100%);*/
}
.aQuestNum {
    font-size: 1.2em;
    font-weight: 700;
    margin: 0 10px 0 5px;
}
.aQuestCount {
    font-size: 0.8em;
    margin-left: 5px;
}

/* ----------------------------------- */
.aForm {
    width: 96%;
    max-width: 500px;
    margin-top: 32px;
    margin-left: 6px;
}
.aQuest {
    min-height: 50px;
    padding: 15px 10px;
    background-color: var(--quest-color);
    border: 1px inset var(--border-color);
}
.aCorrectCount {
    font-size: 0.8em;
    padding: 10px 10px 2px 0;
    text-align: right;
    width: 88%;
    border-bottom: 1px dotted var(--border-color);
}

/* -------------------------------- */
.aAnswer {
    width: 90%;
    border-bottom: 1px dotted var(--border-color);
    padding: 12px 0; 
    cursor: pointer;
}
.aNum {
    margin: 2px;
    padding-left: 5px;
}
.aRadio {
    padding-left: 5px;
}
.aLabel {
    padding-left: 5px;
    cursor: pointer;    
}
.aObj {
    padding: 20px 0 0 10px;
}
.aQuestImg {
    border: 1px dotted var(--border-color);
}
    /* -------------------------------- */
.aResForm {
    text-align: center;
    width: 96%;
    max-width: 500px;
    margin-top: 10px;
    margin-left: 6px;    
}
.aAllPercent {
    margin-bottom: 20px;
}
.aPercent {
    font-size: 1.5em;
    font-weight: 700;
    padding-left: 20px;
}
.aMark {
    font-size: 7em;
    font-weight: 700;
    padding: 0 20px;
    margin: auto;
    width: fit-content;
    min-width: 120px;
    border: 2px outset var(--border-color);    
    background-color: var(--quest-color);
}