		/*  не змінюйте!  */
body {
	margin: 10px 10%;
	padding: 5px;
	max-width: 360px;
	font-size: 18px;
}
/*---*/@media screen and (max-width:450px){body{margin:15px 10px;font-size:16px}}

/*--- верхній рядок не змінюйте! --------------*/

/*  назва сайту новин  */
h1 {
color: #87CEFA
}

/* блок усіх новин: можна додати межі або заливку і поля (щоб текст новин не прилипав до меж) */
.all-news {
border: 1px solid black;
border-radius: 23px;	
padding: 10px 10px 10px 10px;
}

/* дата усіх новин */
h2 { 
color:#8B0000;
text-align: right;
}

/* час новини - можна додати межу зверху, зменшити розмір шрифту */
.news-time {
border: 1px solid black;
border-radius: 23px;
padding: 10px 10px 10px 10px;
color: #FF8C00;
}

/* текст новини - можна додати межу знизу */
.news-text {

}

/* «підвал» - найнижчий блок, знаходиться під усіма новинами */
.footer {
	padding: 10px 10px 10px 10px;
}

/* посилання для перегляду усіх новин - знаходиться у «підвалі» і не працює :) */
a {
	text-decoration: none;
}

/*----------------------------------------------*/
/* створіть клас для слів-рубрик, що записані коло часу новини: ДУМКА, Екслюзив і подібне */


/*----------------------------------------------*/
/* створіть клас «Гарячі новини», оформіть його і 1-2 новини зробіть «гарячими» (тобто, змініть їм клас) */
