		/*  не змінюйте!  */
body {
	margin: 10px 10% 10px 10%;
	max-width: 360px;
	font-size: 18px;
}

		/*  Головний заголовок  */
h2 {}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {
	
	border: 2px solid black;
	margin: 10px;
	
}

		/*  «Дата усіх новин»  */
h3 {
	background-color: #FFC0CB;
	
	
}

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {
	
	font-family: verdana;
	color: #00FFFF;
	text-decoration: underline;
	
	
	
	
	
}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text {
	margin: 10px;
}

		/*  «Нижній колонтитул»: знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
}

		/*  посилання для перегляду усіх новин: знаходиться у «нижньому колонтитулі» і не працює :)  */
a {
	text-decoration: none;
}

		/*  «Гаряча новина» - застосуйте до якої-небудь новини  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: Crimson;
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.????? {}

