		/*  не змінюйте!  */
body {
	margin: 10px 10% 10px 10%;
	max-width: 360px;
	font-size: 18px;
}

		
h2 { 
color: #EE82EE;
	text-align: center;
	
}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {
	padding: 5px;
	background-color: #F0FFF0;
	border-radius: 15px;
	}

		/*  «Дата усіх новин»  */
h3 {font-style: italic;
color:#66CDAA
}

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {
	text-align: center;
	margin: 25px 5px 5px 5px;
	color:#3CB371;
}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text {}

		/*  «Нижній колонтитул»: знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
}

		/*  посилання для перегляду усіх новин: знаходиться у «нижньому колонтитулі» і не працює :)  */
a {
	text-decoration: none;
}


		/*  «Гаряча новина» - застосуйте до якої-небудь новини  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: Crimson;
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.allnews {color:#BA55D3;
text-decoration: unterline;
	
}

