body{
	margin: 10px;
	font-size: 18px;
	line-height: 1.4;
}
/*---------------------------------------------*/

.header {
	margin: 5px;
	padding: 5px;
	text-align: center;
	background-color: #2E8B57;
}

.footer {
	margin: 5px;
	padding: 5px;
	text-align: right;
	background-color: Cornsilk;
}

.flexbox {
	margin: 5px;
	padding: 5px;

	display: flex;
	flex-wrap: wrap;				/* nowrap */
	justify-content: space-around;	/* flex-end  center  flex-start  space-beetween */
	align-items: flex-start;		/* flex-end  center  stretch */

	border: 1px solid black;
	border-radius: 10px;
}
 
.day {
	font-style: italic;
	
}

.day-title {
	font-size: 23px;
	color: #000000;
	background-color: #FFD700;
	text-align: center;
	border-bottom: 3px solid black;
	
}