		/*  не змінюйте!  */
body {
	margin: 10px 10% 10px 10%;
	max-width: 360px;
	font-size: 18px;
}

		/*  Головний заголовок  */
h2 {
	color: red;
}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {
	border: 3px solid purple;
	background-color: pink;
	padding: 5px;
	border-radius: 15px;
}

		/*  «Дата усіх новин»  */
h3 {
	color: #B22222;
	text-decoration: underline;
}

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {
	border: 3px;
	margin: 10px;
	font-size: 12px;
}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text {
	border: 3px solid blue;
	margin: 10px;
}

		/*  «Нижній колонтитул»: знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
	
}

		/*  посилання для перегляду усіх новин: знаходиться у «нижньому колонтитулі» і не працює :)  */
a {
	text-decoration: none;
}

		/*  «Гаряча новина» - застосуйте до якої-небудь новини  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: Crimson;
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.rubrica {
	font-style: italic;
	color: #7B68EE;
	border: 3px;
}

