		/*  не змінюйте!  */
body {
	margin: 10px 10% 10px 10%;
	max-width: 360px;
	font-size: 18px;
}
		/*  Головний заголовок  */
h2 {
	font-size: 40px;
	color:DarkRed;
	text-align: center;
}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {
	border-radius: 15px;
	border: 1px solid black;
	margin: 15px;
	text-align: left;
	}

		/*  «Дата усіх новин»  */
h3 {
	font-size: 19px;
	color:Green;

}

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {
	margin: 5px;
	font-size: 13px;
}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text {
	
}

		/*  «Нижній колонтитул»: знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
}

		/*  посилання для перегляду усіх новин: знаходиться у «нижньому колонтитулі» і не працює :)  */
a {
	text-decoration: none;
	color: DarkRed;
}


		/*  «Гаряча новина» - застосуйте до якої-небудь новини  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: Crimson;
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.rrr {
	background-color: DarkGreen;
	border-radius: 3px;
	color: White;
	margin: 4px;
}

