body{padding:2px} @media screen and (min-width: 450px) {body{max-width:360px;margin: 20px 0 0 70px}}
/*--- верхній рядок не змінюйте! --------------*/

/*  назва сайту новин  */
h1 {
   color: #4682B4;
   text-align: center;
   border-bottom: 2px solid #4682B4;
}

/* блок усіх новин: можна додати межі або заливку і поля (щоб текст новин не прилипав до меж) */
.all-news {
	border: 1px solid black;
	border-radius: 10px;
	padding: 20px 20px 20px 20px;
}

/* дата усіх новин */
h2 {
	color: #DC143C;
	text-align: center;
}

/* час новини - можна додати межу зверху, зменшити розмір шрифту */
.news-time {
	color: #008B8B
}

/* текст новини - можна додати межу знизу */
.news-text {
	margin: 10px 0 8px 15px;
}

/* «підвал» - найнижчий блок, знаходиться під усіма новинами */
.footer {
	padding: 10px 10px 10px 10px;
	
}

/* посилання для перегляду усіх новин - знаходиться у «підвалі» і не працює :) */
a {
	text-decoration: none;
	color: SlateGray;
}

.ізі {
	background-color: #ADFF2F;
	border-radius: 15px;
}

.ez {
	background-color: #ADFF2F;
	border-radius: 15px;
	
}
/*----------------------------------------------*/
/* створіть клас для слів-рубрик, що записані коло часу новини: ДУМКА, Екслюзив і подібне */


/*----------------------------------------------*/
/* створіть клас «Гарячі новини», оформіть його і 1-2 новини зробіть «гарячими» (тобто, змініть їм клас) */
