body{margin:10px;font-size:18px;line-height:1.4}@media screen and (max-width:450px){body{font-size:16px;line-height:1.2}}
/*--=========================================--*/

.header {
	margin: 5px;
	padding: 5px;
	text-align: center;
	background-color: LightCyan;
	font-size: 40px;
	font-style: bold;
}

.footer {
	margin: 5px;
	padding: 5px;
	text-align: right;
	background-color: Cornsilk;
}

.flexbox {
	margin: 5px;
	padding: 5px;
	background-color: Olive;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	/* center   space-beetween */
									/*align-items: flex-start;   (flex-end) */
}





.day{
	border: 5px double DarkOrange;
	border-radius: 15px;
	margin: 10px;
	padding: 5px;
	text-decoration:Bradley Hand ITC;
	background-color: Orange;