		/*  не змінюйте!  */
body {
	margin: 10px 10% 10px 10%;
	max-width: 360px;
	font-size: 18px;
}


		/*  «Стрічка новин»  */
h2 {
	font-family:Times New Roman;
	font-style: italic;
	color:#8B0000;
}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {
	border: 2px solid black;
	background-color:#FFFAFA;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}

		/*  «Дата усіх новин»  */
h3 {
	font-size: italic;
	font-style: 12p;
	color: #800000;
}

		
.news-time {
	font-size: 12px;
	font-style: italic;
	color: #CD5C5C;
	line-height:1.5;
}

		
.news-text {
	line-height:1.5;
	border-bottom: 2px dotted #000000;
}

	
.footer {
	padding: 10px;
	font-size: 12px;
}

		
a {
	text-decoration: none;
}

	
.mind{
	color:#000000;
	font-weight:bold;
	background-color: #000000;
	border: 1px solid #B22222;
	border-radius: 15px;
}

		/*  «Гаряча новина» - можете змінити, якщо хочете  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: #9ACD32;
}