body{
	margin: 10px;
	font-size: 18px;
	line-height: 1.4;
}
/*---------------------------------------------*/

.header {
	margin: 5px;
	padding: 5px;
	text-align: center;
	background-color: LightCyan;
}

.footer {
	margin: 5px;
	padding: 5px;
	text-align: right;
	background-color: Cornsilk;
}

.flexbox {
	margin: 5px;
	padding: 5px;
	border: 1px solid blue;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	/* center   space-beetween */
									/*align-items: flex-start;   (flex-end) */
}

.day {
	background-color: #FAF0E6;
	line-height: 1.5;
	border: 3px solid #CCCCFF;
	}