.mark {
	padding: 10px;
	border: var(--border-style);
}

.mark__td1 {
	width: 25%;
	text-align: center;
	line-height: 1.5;
	background-color: #fffff0;
}

.mark__td2 {
	font-size: 0.8em;
	text-align: left;
	line-height: 1.5;
	background-color: #fff;
}

.mark__td3 {
	padding: 0 10px;
	text-align: center;
	background-color: #f8f8ff;
}

.mark__td4 {
	padding: 0 10px;
	font-size: 0.8em;
	background-color: #f8f8ff;
}

.comment-short {
	font-size: 0.8em;
}
.comment-main {
	color: blue;
	font-style: italic;
}

.comment-project {

}

.comment-task {
	color: Salmon;
	font-style: italic;
}