.mark {
	padding: 5px 10px;
	border: var(--border-style);
}

.mark__author {
	width:20%;
	text-align:center;
	font-weight:bold;
	background-color: #fffff0;
}

.mark__standart {
	width:35%;
	background-color: #f8f8ff;
}

.mark__about {
	background-color: #fffff0;
}

.mark__comment {
	padding-bottom: 15px;
	font-size: 0.8em;
	text-align: right;
	line-height: 1.2;
	background-color: #fff;
}