body{margin:10px 10%;padding:5px;max-width:360px;font-size:18px}@media screen and (max-width:450px){body{margin:10px;font-size:16px}}
/*--=========================================--*/

		/*  Головний заголовок  */
h2 {
	font-family: sans-serif;
	
}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {
	border: 5px double DeepPink;
	background-color: Pink;
	padding: 7px 0 0 10px
}

		/*  «Дата усіх новин»  */
h3 {
	font-style: italic;
	color: DarkBlue;
	font-family: sans-serif;
}

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {
	color: MediumBlue;
	font-family: sans-serif;
}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text {
	font-family: sans-serif;
	line-height: 1.3
}

		/*  «Нижній колонтитул»: знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
}

		/*  посилання для перегляду усіх новин: знаходиться у «нижньому колонтитулі» і не працює :)  */
a {
	text-decoration: none;
	color: MediumBlue;
}

		/*  «Гаряча новина» - застосуйте до якої-небудь новини  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: Crimson;
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.????? {}

