body{margin:10px 10%;padding:5px;max-width:360px;font-size:18px}@media screen and (max-width:450px){body{margin:10px;font-size:16px}}
/*--=========================================--*/

		/*  Головний заголовок  */
h2 {
    background-color: BurlyWood;
	text-align:center;
	border-radius: 15px;
	border-bottom:solid;
}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {
	text-align:left;

}

	
h3 {
	border:solid BurlyWood 3px;
	border-radius:6px;
}

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {
	text-align:center;
}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text {
	border:solid BurlyWood 3px;
	line-height:1.5;
}

		/*  «Нижній колонтитул»: знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 20px;
	text-align:center;
	
    
}

		/*  посилання для перегляду усіх новин: знаходиться у «нижньому колонтитулі» і не працює :)  */
a {
	text-decoration:underline;
}

		/*  «Гаряча новина» - застосуйте до якої-небудь новини  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: Crimson;

	}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.barabulka{
	
}

