		/*  не змінюйте!  */
body {
	margin: 10px 10%;
	padding: 5px;
	max-width: 360px;
	font-size: 18px;
}
/*---*/@media screen and (max-width:450px){body{margin:15px 10px;font-size:16px}}

		/*  Головний заголовок  */
h2 {
	font-size: 30px;
	color: DodgerBlue;
	text-align: center;
	font-style: italic;
	}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {
	padding: 10px;
	border: 3px dotted SkyBlue;
	}

		/*  «Дата усіх новин»  */
h3 { 
    background-color: LightBlue;
	border-radius: 15px;
	padding: 10px;
	width: 60%;
	margin: 8px;
 ]
	
}

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {
	border:3px solid DeepSkyBlue;
	padding: 10px;
	border-radius: 10px;
	width: 30%;
}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text {
	padding: 10px;
}

		/*  «Нижній колонтитул»: знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
}

		/*  посилання для перегляду усіх новин: знаходиться у «нижньому колонтитулі» і не працює :)  */
a {
	text-decoration: none;
}

		/*  «Гаряча новина» - застосуйте до якої-небудь новини  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: Crimson;
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.????? {}

