body {
    font-family: sans-serif, Arial;
    font-size: 1em;
    line-height: 2;
    color: #333333;
    padding: 5px;
    margin: 0;
}
a {
    text-decoration: none;
    display: block;
}
/* +++++++++++++++++++++++++++++++++++ */
.header {
    font-size: 1.2em;
    text-align: center;
    background-color: #8fbc8f;
    border-radius: 5px;
    width: 94%;
    max-width: 500px;
    padding: 2px;
    position: fixed;
    top: 2px;
    left: 7px;
	display: table;
}
.header a {
    color: #333333;
} 
.itemButton { /* кнопки Вперед і Назад */
    font-size: 1em;
    text-align: center;
    color: #333333;
    background: -webkit-linear-gradient(top, #D0ECF4 0%, #5BC9E1 50%, #D0ECF4 100%);
    background: -moz-linear-gradient(top, #D0ECF4 0%, #5BC9E1 50%, #D0ECF4 100%);
    background: -ms-linear-gradient(top, #D0ECF4 0%, #5BC9E1 50%, #D0ECF4 100%);
    background: linear-gradient(top, #D0ECF4 0%, #5BC9E1 50%, #D0ECF4 100%);
    border-radius: 5px;
    border: 1px solid #666666;
    width: 35px;
    margin: 0 2px;
    padding: 2px 4px;
    overflow: hidden;
    display: table-cell;
    cursor: pointer;
}
.itemSelect { /* випадаючий список для вибору */
    font-size: 1em;
    background: -webkit-linear-gradient(top, #fff 0%, #b0c4de 50%, #fff 100%);
    background: -moz-linear-gradient(top, #fff 0%, #b0c4de 50%, #fff 100%);
    background: -ms-linear-gradient(top, #fff 0%, #b0c4de 50%, #fff 100%);
    background: linear-gradient(top, #fff 0%, #b0c4de 50%, #fff 100%);
    border-radius: 5px;
    border: 2px outset #808080;
    min-width: 120px;
    padding: 2px;
    display: table-cell;
}

/* ----------------------------------- */
.itemTable { /* таблиці з розкладом + записана у скрипті! */
    width: 96%;
    max-width: 500px;
    margin-top: 45px;
    margin-left: 6px;
    border-bottom: dotted 1px #808080;
	display: table;
}
.block1 { /* непарні і парні дні */
    background-color: #ffffff;
	display: table-row;
}
.block2 {
    background-color: #f0f8ff;
	display: table-row;
}

/* -------------------------------- */
.day, .grp, .kab, .sub, .tch { /* перший (головний) рядок - в основному він є один */
    border-top: dotted 1px #808080;
    padding: 4px 8px;
	display: table-cell;
}
.day2, .grp2, .kab2, .sub2, .tch2 { /* другий і більше рядок (якщо кілька груп або класів в одному кабінеті */
    border-top: none;
    padding: 0 8px 4px 8px;
	display: table-cell;
}
.day, .day2 {
    text-align: center;
    min-width: 35px;
    padding-left: 2px;
}
.day a, .day2 a{
    color: #8b008b;
}
.grp, .grp2 {
    text-align: center; 
    min-width: 35px;
}
.grp a, .grp2 a {
    color: #992211;
}
.kab, .kab2 {
    text-align: center;
    min-width: 30px;
}
.kab a, .kab2 a {
    color: #008000;
}
.sub, .sub2, .tch, .tch2 {
    max-width: 140px;
    overflow: hidden;
}
.tch a, .tch2 a {
    color: #808000;
}