body{
	margin: 10px;
	font-size: 18px;
	line-height: 1.4;
}
/*---------------------------------------------*/

.header {
	margin: 5px;
	padding: 5px;
	text-align: center;
	
}

.footer {
	margin: 5px;
	padding: 5px;
	text-align: right;
	
}

.flexbox {
	margin: 5px;
	padding: 5px;

	display: flex;
	flex-wrap: wrap;				/* nowrap */
	justify-content: space-around;	/* flex-end  center  flex-start  space-beetween */
	align-items: flex-start;		/* flex-end  center  stretch */

	border: 5px solid Maroon;
	border-radius: 3px
}

.day  { 
     margin: 5px;
	padding: 5px;
	text-align: center
}

.king{
	background-color: Maroon;
	color: White;
}