body{margin:10px;font-size:18px;line-height:1.4}@media screen and (max-width:450px){body{font-size:16px;line-height:1.2}}
/*--=========================================--*/

.header {
	margin: 5px;
	padding: 5px;
	text-align: center;
	background-color: #DEB887;
}

.footer {
	margin: 5px;
	padding: 5px;
	text-align: right;
	background-color: #DEB887;
}

.flexbox {
	margin: 5px;
	padding: 5px;
	border: 2px solid #FFDEAD;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	/* center   space-beetween */
									/*align-items: flex-start;   (flex-end) */
}
.day {
	border:3px solid #F5DEB3;
	text-align:center;
	background-color: #F5DEB3;
	border-radius:15px;
	margin: 0 0 5px 0;
	padding: 5px;
	
	
	
	
	
	
}	
.day-title {
	margin:0 0 5px 0;
	color:#DC143C;