		/*  не змінюйте!  */
body {
	margin: 10px 10%;
	padding: 5px;
	max-width: 360px;
	font-size: 18px;
}
/*---*/@media screen and (max-width:450px){body{margin:15px 10px;font-size:16px}}

		/*  Головний заголовок  */
h2 {
	color: #8B0000;
	text-align: center;
	font-weight: bold;
	border-bottom: 2px red solid;
	margin: 10px;
	padding: 5px;
}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {
	border: 1px solid black;
	padding: 5px;
	border-radius: 5px;
	
}

		/*  «Дата усіх новин»  */
h3 {
	font-weight: bold;
	padding: 2px;
	border-bottom: 1px solid #8B0000;
	
}

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {
	margin: 10px;
	font-size: 14px;
	font-weight: bold;
	color: black;
}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text {
	border-bottom: 1px solid #8B0000;
	margin: 5px;
	padding: 5px;
}

		/*  «Нижній колонтитул»: знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
}

		/*  посилання для перегляду усіх новин: знаходиться у «нижньому колонтитулі» і не працює :)  */
a {
	text-decoration: none;
}

		/*  «Гаряча новина» - застосуйте до якої-небудь новини  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	border-bottom: 1px solid #8B0000;
	color: Crimson;
	
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.qwe {
	color: #4682B4;
	font-size: 12px;
	font-style: italic;
	background-color: #EEE8AA;
}

