body{margin:10px 10%;padding:5px;max-width:360px;font-size:18px}@media screen and (max-width:450px){body{margin:10px;font-size:16px}}
/*--=========================================--*/

		/*  Головний заголовок  */
h2 {color:red;}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {background-color:#FFE4E1;}

		/*  «Дата усіх новин»  */
h3 {
	color:red;
}

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {font-family: verdana; 
       color: red;}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text {border:3px solid #FFA07A;}

		/*  «Нижній колонтитул»: знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
}

		/*  посилання для перегляду усіх новин: знаходиться у «нижньому колонтитулі» і не працює :)  */
a {
	text-decoration: none;
}

		/*  «Гаряча новина» - застосуйте до якої-небудь новини  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: Crimson;
    border-radius:15px;	
	
	
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.????? {}

