body{margin:10px 10%;padding:5px;max-width:360px;font-size:18px}@media screen and (max-width:450px){body{margin:10px;font-size:16px}}
/*--=========================================--*/

		/*  Головний заголовок  */
h2 {
	color: #008000; 
}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {
	border:5px dotted #00BFFF ;
	background-color: #FFFAFA;
	padding: 0px 6px 8px 7px;
	line-height:1.5;
	margin: 5px 5px 5px 5px;
	
}

		/*  «Дата усіх новин»  */
h3 {}

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {
	border:5px double #FF0000;
	background-color: #F0FFFF;
	padding: 5px 5px 5px 5px;
	text-align: center;
	line-height:1.5;
	width: 50%;
	border-radius: 15px;
}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text {
	margin: 5px 5px 5px 5px;
	font-family: Comic Sans MS;
}

		/*  «Нижній колонтитул»: знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
	
}

		/*  посилання для перегляду усіх новин: знаходиться у «нижньому колонтитулі» і не працює :)  */
a {
	text-decoration: none;
font-family: ;
}
		/*  «Гаряча новина» - застосуйте до якої-небудь новини  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: Crimson;
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.????? {}

