body{margin:10px 10%;padding:5px;max-width:360px;font-size:18px}@media screen and (max-width:450px){body{margin:10px;font-size:16px}}
/*--=========================================--*/

		/*  Головний заголовок  */
h2 {
	color:RosyBrown;
	text-decoration:underline;
	text-align:center;
	border-radius:15px;
	border: 3px solid RosyBrown;
}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {
	padding:10px;
	background-color:PaleTurquoise;
	line-height:1.4;
}

		/*  «Дата усіх новин»  */
h3 {
	color:DarkMagenta;
	font-size: 18px;
	text-align:center;
}

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {
	color:DarkMagenta;
	font-size: 20px;
	
	
	
}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text {
	margin:10px;
	border: 3px solid RebeccaPurple;

	
}

		/*  «Нижній колонтитул»: знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
	
}

		/*  посилання для перегляду усіх новин: знаходиться у «нижньому колонтитулі» і не працює :)  */
a {
	text-decoration: none;
	border: 3px solid RebeccaPurple;
	background-color:PaleTurquoise;
}

		/*  «Гаряча новина» - застосуйте до якої-небудь новини  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: Crimson;
	
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.mavpa {
<span class="mavpa">Думка</span>
}

