body{margin:10px 10%;padding:5px;max-width:360px;font-size:18px}@media screen and (max-width:450px){body{margin:10px;font-size:16px}}
/*--=========================================--*/

		/*  Головний заголовок  */
h2 {
	text-align:center;
    color:#FF0000;
	
}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {
	       border:3px solid black;
		   background-color:#FFC0CB;
		   padding:5px;
		   font-weight:bold;
		   border-radius:15px;
		   margin:10px;
}

		/*  «Дата усіх новин»  */
h3 {
	color:#FF0000;
	font-weight:bold;
	margin:10px;
	font-style:italic;
}

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {
	color:#FF0000;
	font-weight:bold;
	margin:10px;
}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text {
	margin:10px;
	
	
}

		/*  «Нижній колонтитул»: знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
	border:3px solid black;
	background-color:#FFC0CB;
}

		/*  посилання для перегляду усіх новин: знаходиться у «нижньому колонтитулі» і не працює :)  */
a {
	text-decoration: none;
}

		/*  «Гаряча новина» - застосуйте до якої-небудь новини  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: Crimson;
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.bbb {
	color:#7FFFD4
}

