		/*  не змінюйте!  */
body {
	margin: 10px 10% 10px 10%;
	max-width: 360px;
	font-size: 18px;
}


/*  назва сайту новин  */
h1 {
	color:blue;
	
	
}
	



/* блок усіх новин: можна додати межі або заливку і поля (щоб текст новин не прилипав до меж) */
.all-news {
	border: 3px solid orange;
	border-radius: 15px;
	padding: 2px 0 0 5px;
}

/* дата усіх новин */
h2 {
	color:yellow;
	
}

/* час новини - можна додати межу зверху, зменшити розмір шрифту */
.news-time {
	color: blue;
	
}

/* текст новини - можна додати межу знизу */
.news-text {
	padding: 2px 0 15px 5px;
}

/* «підвал» - найнижчий блок, знаходиться під усіма новинами */
.footer {
	padding: 10px 10px 10px 10px;
}

/* посилання для перегляду усіх новин - знаходиться у «підвалі» і не працює :) */
a {
	text-decoration: none;
	color: red;

}

.pppp {
    color: red;
}


/*----------------------------------------------*/
/* створіть клас «Гарячі новини», оформіть його і 1-2 новини зробіть «гарячими» (тобто, змініть їм клас) */
