body {
    font-family: sans-serif, Arial;
    font-size: 1em;
    line-height: 2;
    width: 90%;
    max-width: 500px;
    color: #333333;
    padding: 5px 2px 5px 7px;
    margin: 0;
}
a {
    text-decoration: none;
    color: #992211;
    display: block;
}
/* +++++++++++++++++++++++++++++++++++ */
.aTitle {
    font-size: 1.5em;
    text-align: center;
    background-color:darkseagreen;
    border-radius: 5px;
}
.aCenter, .aLeft, .aRight {
    border-bottom: 1px dotted #808080;
    padding: 10px;
}
.aCenter {
    text-align: center;
    background-color: azure;
}
.aLeft {
    text-align: left;
    background-color: ivory;    
}
.aRight {
    text-align: right;
}
