body {
    font-family: sans-serif, Arial;
    font-size: 1em;
    line-height: 2;
    color: #333333;
    padding: 5px;
    margin: 0;
}
a {
    text-decoration: none;
    color: #992211;
    display: block;
}
/* +++++++++++++++++++++++++++++++++++ */
.aTitle {
    font-size: 1.5em;
    text-align: center;
    width: 94%;    
    max-width: 500px;    
    background-color: darkseagreen;
    padding: 2px;
    position: fixed;
    top: 2px;
    left: 7px;    
    border-radius: 5px;
}
.aTable {
    width: 96%;
    max-width: 500px;
    margin-top: 44px;
    margin-left: 6px;
}
.aCenter, .aLeft, .aRight {
    border-bottom: 1px dotted #808080;
    padding: 10px;
}
.aCenter {
    text-align: center;
    background-color: azure;
}
.aLeft {
    text-align: left;
    background-color: ivory;    
}
.aRight {
    text-align: right;
}
