		/*  не змінюйте!  */
body {
	margin: 10px 10%;
	padding: 5px;
	max-width: 360px;
	font-size: 18px;
}
/*---*/@media screen and (max-width:450px){body{margin:15px 10px;font-size:16px}}

		/*  Головний заголовок  */
h2 {
	font-family: sans-serif;
    font-style: italic;
	border: 3px solid #DC143C;
	text-align: center;
	border-radius: 15px;
	background-color: #DC143C;
	color: white;
}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {
	font-family: sans-serif;
	border: 6px double black;
	text-align: center;
	border-radius: 15px;
	line-height: 1.5;
	}

		/*  «Дата усіх новин»  */
h3 {
	padding: 5px;
}

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {
	font-style: italic;
	font-weight: bold;
	font-size: 90%;
	border-top: 2px dotted black;
}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text {
	
}

		/*  «Нижній колонтитул»: знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
}

		/*  посилання для перегляду усіх новин: знаходиться у «нижньому колонтитулі» і не працює :)  */
a {
	text-decoration: none;
}


		/*  «Гаряча новина» - застосуйте до якої-небудь новини  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: Crimson;
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.rbc {
	font-family: arial;
	padding: 3px;
	color: green;
	border-radius: 15px;
	font-weight: bold;
	
}

