		/*  не змінюйте!  */
body {
	margin: 10px 10% 10px 10%;
	max-width: 360px;
	font-size: 18px;
}

/*--- верхній рядок не змінюйте! --------------*/

		/*  «Стрічка новин»  */
h2 {
	color: red;
	font-weight: bold;
	background: yellow;
}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {
	 color: #2F4F4F;
	padding:  10 xp 0 0 5px;

	 
}

		/*  «Дата усіх новин»  */
h3 {
	font-style: italic;
	text-decoration: underline;
}	

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {
	
}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text {
	border: 5px solid red;
	margin: 5px 0px 15px 3px;
	color: green;
	padding: 5px;
}

		/*  «Підвал» - найнижчий блок, знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
}

		/*  посилання для перегляду усіх новин: знаходиться у «підвалі» і не працює :)  */
a {
	text-decoration: none;
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.nowa {
	color: blue;
	font-style: italic;
	font-family: verdata;
}

		/*  «Гаряча новина» - можете змінити, якщо хочете  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: Crimson;
}