body {
	margin: 15px 10px;
	font-size: 18px;
	line-height: 1.4;
}
/*---*/@media screen and (max-width:450px){body{font-size:16px;line-height:1.2}}

.header {
	margin: 5px;
	padding: 5px;
	text-align: center;
	background-color: LightCyan;
	font-size: 30px
}

.footer {
	margin: 5px;
	padding: 5px;
	text-align: right;
	background-color: HotPink;
	font-size: 11px
}

.flexbox {
	margin: 5px;
	padding: 5px;
	border: 1px solid blue;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
    background-color: CadetBlue
;
	/* center   space-beetween */
									/*align-items: flex-start;   (flex-end) */
}

.day {
	border: 3px solid black;
	background-color: DarkGoldenRod;
	margin: 10px;
	padding: 10px
}

.r {
  color: DarkRed;
  font-size: 22px
}