		/*  не змінюйте!  */
body {
	margin: 10px 10% 10px 10%;
	max-width: 360px;
	font-size: 18px;
}

		/*  Головний заголовок  */
h2 {
	color: White;
	background-color: Black;
	border-radius: 15px;
	text-align: center;
	font-size: 25;
	
}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {
	color: MidnightBlue;
	background-color: White;
	font-size: 20;
	font-family: Baskerville Old Face;
	text-align: center;
	
}

		/*  «Дата усіх новин»  */
h3 {
	color: OrangeRed;
	font-size: 23;
	text-align: center;
	
}

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {
	color: Red;
	font-size: 20;
	border: 2px solid black;
	text-align: center;
	
}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text {}

		/*  «Нижній колонтитул»: знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
}

		/*  посилання для перегляду усіх новин: знаходиться у «нижньому колонтитулі» і не працює :)  */
a {
	text-decoration: none;
}

		/*  «Гаряча новина» - застосуйте до якої-небудь новини  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: Crimson;
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.????? {}

