		/*  не змінюйте!  */
body {
	margin: 10px 10% 10px 10%;
	max-width: 360px;
	font-size: 18px;
}

		/*  Головний заголовок  */
h2 {
	color:blue;
	background-color:silver;
	border-radius:10px;
	width:50%;
	text-align:center;
}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {
	border:5px solid black;
	padding:10px;
	background-color:cornsilk;
}

		/*  «Дата усіх новин»  */
h3 {
	color:blue;
}

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {
	padding:5px;
	color:red;
	line-height:2;
	background-color:silver;
	border-radius:10px;

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text {
	
}

		/*  «Нижній колонтитул»: знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
}

		/*  посилання для перегляду усіх новин: знаходиться у «нижньому колонтитулі» і не працює :)  */
a {
	text-decoration: none;
}

		/*  «Гаряча новина» - застосуйте до якої-небудь новини  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: Crimson;
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.????? {}

