body{margin:10px 10%;padding:5px;max-width:360px;font-size:18px}@media screen and (max-width:450px){body{margin:10px;font-size:16px}}
/*--=========================================--*/

		/*  Головний заголовок  */
h2 {
	text-align: center;
	padding: 5px;
	color: #006400;
	background-color: #F0FFFF;
	border-radius: 15px;
	
}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {
	border: 3px solid #8B0000;
	line-height: 1.5;
	background-color: #F0FFF0;
	text-align: justify;
	padding: 10px;
	
	
}

		/*  «Дата усіх новин»  */
h3 {
	color: #778899;
	text-align: center;
	
}

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {
	font-size: 14px;
	
}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text {
	margin: 10px
}

		/*  «Нижній колонтитул»: знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
}

		/*  посилання для перегляду усіх новин: знаходиться у «нижньому колонтитулі» і не працює :)  */
a {
	text-decoration: none;
}

		/*  «Гаряча новина» - застосуйте до якої-небудь новини  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: Crimson;
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.????? {}

