body{padding:2px} @media screen and (min-width: 450px) {body{max-width:360px;margin: 20px 0 0 70px}}
/*--- верхній рядок не змінюйте! --------------*/

/*  назва сайту новин  */
h1 {
	color: #B22222;
	
	
}

/* блок усіх новин: можна додати межі або заливку і поля (щоб текст новин не прилипав до меж) */
.all-news {}

/* дата усіх новин */
h2 {
	text-decoration: underline;
	
}

/* час новини - можна додати межу зверху, зменшити розмір шрифту */
.news-time {
	border-top: 2px solid #4682B4;
	padding: 7px 7px 7px 7px;
	
}

/* текст новини - можна додати межу знизу */
.news-text {
	
	
}

/* «підвал» - найнижчий блок, знаходиться під усіма новинами */
.footer {
	padding: 10px 10px 10px 10px;
}

/* посилання для перегляду усіх новин - знаходиться у «підвалі» і не працює :) */
a {
	text-decoration: none;
	color: #BC8F8F;
}


.h {
	color: #E9967A;
	text-decoration: underline; 
	
}


/*----------------------------------------------*/
/* створіть клас для слів-рубрик, що записані коло часу новини: ДУМКА, Екслюзив і подібне */


/*----------------------------------------------*/
/* створіть клас «Гарячі новини», оформіть його і 1-2 новини зробіть «гарячими» (тобто, змініть їм клас) */
