body{padding:10px} 
/*---------------------------------------------*/

h1 {
	text-align: center;
	font-size: 1.7em;
	text-decoration: underline;
	font-weight: normal;
}

.feed {
	border: 1px dotted black;
	padding: 2px;
	border-radius: 10px;
}

h2 {
	color: skyblue;
}

.news-time {
	border-top: solid #cccccc 1px;
	color: #888888;
	padding: 7px 5px;
	font-size: 0.8em;
}

.news-text {
	line-height: 1.3;
	padding: 5px 5px 15px 5px;
}

.option {
	background-color: green;
	color: white;
	margin-left: 15px;
	padding: 2px 5px;
	border-radius: 5px;
}

.footer {
	padding: 7px;
}

a {
	text-decoration: none;
	color: #921;
}
