.task-number {			/* ---------- TD --------- */
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
}

.task-text {			/* ---------- TD --------- */
	padding: 0 5px 5px 5px;
	line-height: 1.5;
}

.task-in-title,
.task-out-title {		/* ---------- TD --------- */
	padding: 5px 5px 5px 25px;
	font-size: 0.9em;
	font-style: italic;
	font-weight: bold;
}

.task-in,
.task-out {				/* ---------- TD --------- */
	padding: 0 5px 5px 10px;
	line-height: 1.5;
	font-size: 0.9em;
}

.task-image {			/* ---------- TD --------- */
	text-align: center;
	max-width: var(--obj-max-width);
}

.task-image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	border: var(--border-style);
	border-radius: 10px;
}

.task-tests {			/* ---------- TD --------- */
	padding: 10px;
	font-family: monospace;
}

.task-tests table {
	border-spacing: 5px;
}

.task-tests td {
	min-width: 30px;
	padding: 2px 3px;
	line-height: 1.5;
}

.task-hint {
	font-size: 0.9em;
}

.task-solve-title {		/* ---------- TD --------- */
	padding-top: 5px;
	font-size: 0.9em;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	background-color: #fff;
}

.task-solve-img {		/* ---------- TD --------- */
	text-align: center;
	max-width: var(--obj-max-width);
}

.task-solve-img img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	border: var(--border-style);
	border-radius: 10px;
}

.task-solve-alt-code {
	background-color: #ddd;
}

.task--color-1 {
	background-color: #fff;
}

.task--color-2 {
	background-color: #fffff0;
}

.task--color-3 {
	background-color: #f8f8ff;
}

.task--border-top {
	border-top: var(--border-style);
}