		/*  не змінюйте!  */
body {
	margin: 10px 10% 10px 10%;
	max-width: 360px;
	font-size: 18px;
}
/*--- верхній рядок не змінюйте! --------------*/

		/*  Головний заголовок  */
h2 {
	color: DeepPink;
	text-align:center;
	font-size:180%;
}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {
	border:15px double green;
	padding: 7px;
border-radius:15px;	
text-align:center;

}

		/*  «Дата усіх новин»  */
h3 {
	color:Aqua;
	font-family:sans-serif;
	border-bottom: 3px solid yellow;
	
}

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {
	font-family: verdana;
	font-size: 80%;
	margin:25px 5px 5px 5px;
}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text {
	border-bottom: 3px dashed blue;
}

		/*  «Нижній колонтитул»: знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
}

		/*  посилання для перегляду усіх новин: знаходиться у «нижньому колонтитулі» і не працює :)  */
a {
	text-decoration: none;
}


		/*  «Гаряча новина» - застосуйте до якої-небудь новини  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: Crimson;
	border-bottom: 3px dashed blue;
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.jets {
	color:Indigo;
	font-family:arial;
	font-size: 140%;
}

