body{margin:10px;font-size:18px;line-height:1.4}@media screen and (max-width:450px){body{font-size:16px;line-height:1.2}}
/*--=========================================--*/

.header {
	margin: 5px;
	padding: 5px;
	text-align: center;
	background-color: FloralWhite;
	font-size: 30px;
	font-weight: bold;
}

.footer {
	margin: 5px;
	padding: 5px;
	text-align: right;
	background-color: FloralWhite;
}

.flexbox {
	margin: 5px;
	padding: 5px;
	border: 3px solid blue;
	background-color: AliceBlue;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	/* center   space-beetween */
									/*align-items: flex-start;   (flex-end) */
}




.day {
	border: 7px double blue;
	border-radius: 15px;
	margin: 5px;
	padding: 5px;
	background-color: FloralWhite;
	
}

.tr {
	
	font-weight: bold;
	text-align: center;
	
}