		/*  не змінюйте!  */
body {
	margin: 10px 10% 10px 10%;
	max-width: 360px;
	font-size: 18px;
}

		/*  «Стрічка новин»  */
h2 {
	margin: 100px 100px 50px 94px;
}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {
	border-right: 2px solid Blue;
	border-left: 2px solid Blue;
	border-radius: 15px;
	padding: 12px;
}

		/*  «Дата усіх новин»  */
h3 {
	background-color: blue;
	border-radius: 15px;
	padding: 7px;
	text-align: center;
	color: white;
}

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {
	border-radius: 15px;
	padding: 2px;
	text-align: center;
	color: black;
}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text {
	border-top: 2px solid LightBlue;
	padding: 10px 10px 10px 10px
}

		/*  «Підвал» - найнижчий блок, знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
}

		/*  посилання для перегляду усіх новин: знаходиться у «підвалі» і не працює :)  */
a {
	text-decoration: none;
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.rubrika {
	background-color: red;
	color: white;
	border-radius: 15px;
	padding: 3px ;

		/*  «Гаряча новина» - можете змінити, якщо хочете  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: Crimson;
}