body {
	max-width: 35em;
	padding: 5px;
	font-family: Arial, sans-serif;
	margin: 10px 10%;
	font-size: 18px;
	line-height: 1.4;
    border: 1px dotted black;
	border-radius: 10px;
}

@media screen and (max-width:450px) {
	body {
		margin: 15px 10px;
		font-size: 16px;
		line-height: 1.3;
	}
}

img {
	display: block;
	border-radius: 10px;
	margin: 5px auto;
}

p {
	padding: 5px;
}