body{margin:10px 10%;padding:5px;max-width:360px;font-size:18px}@media screen and (max-width:450px){body{margin:10px;font-size:16px}}
/*--=========================================--*/

		/*  Головний заголовок  */
h2 {
	font-size: 27px;
	font-weight: bold;
	color: #DC143C;
	padding: 6px;
	
}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {
	background-color: #ADFF2F;
	float: left; 
	border: solid;
	border-radius: 13px;
	font-size: 20px;
	padding: 6px;
	
	
}

		/*  «Дата усіх новин»  */
h3 {
	font-size: 25px;
	background-color: #FFFF00;
    padding: 6px;
	float: none;
	font-weight: bold;
	border-radius: 13px;
	padding: 6px;
}

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {
	margin: 7px;
	font-size: 14px;
	padding: 6px;
	
	
}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text {
	border: 3px;
	font-family: Vredana;
	
	
}

		/*  «Нижній колонтитул»: знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
}

		/*  посилання для перегляду усіх новин: знаходиться у «нижньому колонтитулі» і не працює :)  */
a {
	text-decoration: none;
}

		/*  «Гаряча новина» - застосуйте до якої-небудь новини  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: Crimson;
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.????? {}

