body{padding:5px;margin:5px 10px;max-width:360px} @media screen and (min-width:450px){body{line-height:1.4;font-size:18px;margin:10px 10%}}
/*---------------------------------------------*/

h2 {
	text-align: center;
	font-size: 170%;
	text-decoration: underline;
	font-weight: normal;
}

.all-news {
	padding: 2px;
	border: 1px dotted black;
	border-radius: 10px;
}

h3 {
	color: OliveDrab;
}

.news-time {
	padding: 7px 5px 7px 5px;
	border-top: 1px solid Silver;
	color: DimGray;
	font-size: 80%;
}

.news-text {
	padding: 5px 5px 15px 5px;
	line-height: 1.3;
}

.footer {
	padding: 10px;
}

a {
	text-decoration: none;
	color: DarkRed;
}

.rubric {
	margin: 0 0 0 15px;
	padding: 2px 5px 2px 5px;
	border-radius: 5px;
	background-color: Green;
	color: White;
}

.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	font-weight: bold;
	font-style: italic;
	color: Crimson;
	text-align: center;
}