body {
	margin: 15px 10px;
	font-size: 18px;
	line-height: 1.4;
}
/*---*/@media screen and (max-width:450px){body{font-size:16px;line-height:1.2}}

.header {
	margin: 5px;
	padding: 5px;
	text-align: center;
	background-color: LightCyan;
}

.footer {
	margin: 5px;
	padding: 5px;
	text-align: right;
	background-color: Cornsilk;
}

.flexbox {
	margin: 5px;
	padding: 5px;

	display: flex;
	flex-wrap: wrap;				/* nowrap */
	justify-content: space-around;	/* flex-end  center  flex-start  space-beetween */
	align-items: flex-start;		/* flex-end  center  stretch */

	border: 1px solid blue;
}
.day1{
	margin: 5px;
	padding: 5px;
	background-color:#00BFFF;
border: 3px dashed green;	
}
.day2{
	margin: 5px;
	padding: 5px;
	background-color:#FF1493;
	border: 3px dashed green;
}
.day3{
	margin: 5px;
	padding: 5px;
	background-color:#FFFF00;
	border: 3px dashed green;
}
.day4{
	margin: 5px;
	padding: 5px;
	background-color:#00FF00;
	border: 3px dashed green;
}
.day5{
	margin: 5px;
	padding: 5px;
	background-color:#FF0000;
	border: 3px dashed green;
}