body{margin:10px;font-size:18px;line-height:1.4}@media screen and (max-width:450px){body{font-size:16px;line-height:1.2}}
/*--=========================================--*/

.header {
	margin: 5px;
	padding: 5px;
	text-align: center;
	background-color: LightSteelBlue;
}

.footer {
	margin: 5px;
	padding: 5px;
	text-align: right;
	background-color: LightSteelBlue;
}

.flexbox {
	margin: 5px;
	padding: 5px;
	border: 1px solid blue;
	background-color: LightSteelBlue;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	/* center   space-beetween */
									/*align-items: flex-start;   (flex-end) */
}
.day{
	margin: 10px;
    text-align: center;
	padding: 5px;
	border: 3px dashed #0000FF ;
	border-radius:15px;
	background-color: Cyan;
}
.day-title{
	font-weight: bold;
	margin: 10px;
}
