body {
	margin: 15px 10px;
	font-size: 18px;
	line-height: 1.4;
}
/*---*/@media screen and (max-width:450px){body{font-size:16px;line-height:1.2}}

.header {
	margin: 5px;
	padding: 5px;
	text-align: center;
	background-color: LightCyan;
}

.footer {
	margin: 5px;
	padding: 5px;
	text-align: right;
	background-color: Cornsilk;
}

.flexbox {
	margin: 5px;
	padding: 5px;
	border: 1px solid blue;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	/* center   space-beetween */
									/*align-items: flex-start;   (flex-end) */
}

.Day1 {
	background-color: CadetBlue;
	border-radius: 10px;
	border: 3px dotted Teal;
}

.Ra {
	border: 3px DarkCyan dotted;
	background-color: SkyBlue;
	text-align: center;
}
.Day2 {
	
}

