		/*  не змінюйте!  */
body {
	margin: 10px 10%;
	padding: 5px;
	max-width: 360px;
	font-size: 18px;
}
/*---*/@media screen and (max-width:450px){body{margin:15px 10px;font-size:16px}}

		/*  Головний заголовок  */
h2 { 
font-style: italic; 
}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {  
 background-color: #F5FFFA; 
 }

		/*  «Дата усіх новин»  */
h3 {
margin: 19px;
padding: 6px;

}

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {
	font-size: 14px;
	font-style: italic;
	border: 4px dotted SeaGreen; 
	padding: 5px; 
	margin: 19px; 
	
}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text { 
border: 2px double red;
margin: 18px; 
padding: 4px; 

}

		/*  «Нижній колонтитул»: знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
}

		/*  посилання для перегляду усіх новин: знаходиться у «нижньому колонтитулі» і не працює :)  */
a {
	text-decoration: none;
}

		/*  «Гаряча новина» - застосуйте до якої-небудь новини  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: Crimson;
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.????? {}

