		/*  не змінюйте!  */
body {
	margin: 10px 10%;
	padding: 5px;
	max-width: 360px;
	font-size: 18px;
}
/*---*/@media screen and (max-width:450px){body{margin:15px 10px;font-size:16px}}

		/*  Головний заголовок  */
h2 {
	text-align: center;
	color: LightSeaGreen;
	font-weight: bold;
}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {
border: 3px dotted Blue;
border-radius: 15px;
padding: 12px;
background-color: MistyRose;
}

		/*  «Дата усіх новин»  */
h3 {
	text-decoration: underline;
	color: Purple;
	text-align: center;
	font-style: italic;
}

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.news-time {
	text-align: center;
	text-decoration: underline;
	color: Olive;
}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news-text {
border-bottom: 3px dashed gray;
margin: 10px;
padding: 8px;
}

		/*  «Нижній колонтитул»: знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
}

		/*  посилання для перегляду усіх новин: знаходиться у «нижньому колонтитулі» і не працює :)  */
a {
	text-decoration: none;
}

		/*  «Гаряча новина» - застосуйте до якої-небудь новини  */
.hot-news {
	padding: 0 20px 20px 20px;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: Crimson;
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.????? {}

