		/*  не змінюйте!  */
body {
	margin: 10px 10%;
	padding: 5px;
	max-width: 360px;
	font-size: 18px;
}
/*---*/@media screen and (max-width:450px){body{margin:15px 10px;font-size:16px}}

		/*  Головний заголовок  */
h2 {
	text-align:center;
	background-color:
}
hr{
	color:red;
	margin:12px;
}

		/*  «Усі новини» - можна додати межі або заливку і поля  */
.all-news {

	background-color:WhiteSmokce;
	padding:10px;
	border:1px dashed black;
}

		/*  «Дата усіх новин»  */
h3 {
	font-size:15px;
}

		/*  «Час новини» - можна додати межу чи відступ зверху, зменшити розмір шрифту  */
.newst {
	margin:12px;
	font-size:12px;
}

		/*  «Текст новини» - можна додати межу чи відступ знизу  */
.news {}

		/*  «Нижній колонтитул»: знаходиться ПІД «Усіма новинами»  */
.footer {
	padding: 10px;
}

		/*  посилання для перегляду усіх новин: знаходиться у «нижньому колонтитулі» і не працює :)  */
a {
	text-decoration: none;
}


		/*  «Гаряча новина» - застосуйте до якої-небудь новини  */
.hotn {
	margin:10px;
	font-weight: bold;
	
	color: red;
}

		/*  «Слово-рубрика» - слово коло часу новини: ДУМКА, Екслюзив, Школа  */
.spec {
	color:darkred;
	border-radius::15px;
	font-weight:bold;
	padding:3px;
	font-size:15px;
}

