body{padding:5px;line-height:1.4} @media screen and (min-width:450px){body{margin:10px 5%}}
/*---------------------------------------------*/

.header {
	margin: 5px;
	padding: 5px;
	text-align: center;
	background-color: #87CEEB;
}

.footer {
	margin: 5px;
	padding: 5px;
	text-align: right;
	background-color: Cornsilk;
}

.box {
	margin: 5px;
	padding: 5px;

	display: flex;
	flex-wrap: wrap;				/* nowrap */
	justify-content: space-around;	/* flex-end  center  flex-start  space-beetween */
	align-items: flex-start;		/* flex-end  center  stretch */

	border: 1px solid blue;
}
.day{
	background-color: #F5F5DC;
	text-align: center;
	border: 1px double #8FBC8F;
	margin: 5px;
	padding: 5px;
}

.den{
	font-weight: bold;
	font-size: italic;
	background-color: #9ACD32;
	font-size: 18px;
}