body{padding:5px;margin:5px 10px} @media screen and (min-width:450px){body{line-height:1.4;font-size:18px;margin:10px 10%}}
/*---------------------------------------------*/

.header {
	margin: 5px;
	padding: 5px;
	text-align: center;
	background-color: LightCyan;
}

.footer {
	margin: 5px;
	padding: 5px;
	text-align: right;
	background-color: Cornsilk;
}

.box {
	margin: 5px;
	padding: 5px;

	display: flex;
	flex-wrap: wrap;				/* nowrap */
	justify-content: space-around;	/* flex-end  center  flex-start  space-beetween */
	align-items: flex-start;		/* flex-end  center  stretch */

	border: 1px solid blue;
}
.day {
	background-color: Tan;
	margin: 5px;
	padding: 5px;

}
.d {
	background-color: BlueViolet;
}
